MONGO_ROOT_USER=omada_root
MONGO_ROOT_PASSWORD=change-this-root-password
OMADA_MONGO_USER=omada
OMADA_MONGO_PASSWORD=change-this-omada-password
OMADA_MONGO_BACKUP_USER=omada_backup
OMADA_MONGO_BACKUP_PASSWORD=change-this-backup-password
MONGO_CACHE_GB=0.5

